name: Release Obsidian Plugin

on:
    push:
        tags:
            - "*"

permissions:
    contents: write

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Use Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "20.x"

            - name: Install dependencies
              run: npm install

            - name: Build plugin
              run: npm run build

            - name: Create Release
              uses: softprops/action-gh-release@v1
              with:
                  files: |
                      main.js
                      manifest.json
                      styles.css
                      versions.json
                  draft: false
                  prerelease: false
